:root {
  --white: #fff;
  --black: #000;
  --violet: #6d70c4;
  --chime-shale-light: #667b82;
  --chime-shale-dark: #586e75;
  --chime-grey-light: #93a1a1;
  --chime-navy-dark: #002b36;
  --chime-navy-light: #0a3641;
  --chime-beige-dark: #f0e7d4;
  --chime-beige-light: #fef6e2;
}

body {

}