:root {
  --white: #fff;
  --black: #000;
  --violet: #6d70c4;
  --chime-shale-light: #667b82;
  --chime-shale-dark: #586e75;
  --chime-grey-light: #93a1a1;
  --chime-navy-dark: #002b36;
  --chime-navy-light: #0a3641;
  --chime-beige-dark: #f0e7d4;
  --chime-beige-light: #fef6e2;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 360px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#suggestions {
    background: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background: #f0f0f0;
}

#results {
    margin-top: 20px;
}